/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color:#9ce7f9

}
.button
{
    -fx-background-color: #666666;
    -fx-text-fill: white;
    
}
.label
{
    -fx-text-fill: #000000;    
}
